:host {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 0rem 0.5rem;
  z-index: 1;
  border-radius: 8px;
}

:host-context(.player-board.is-active) {
  background: var(--color-header-active-bg);
  color: var(--color-player-active-text);
}

:host-context(.player-board.is-me) {
  background: var(--color-header-me-bg);
  color: var(--color-player-me-text);
}

:host-context(.player-board.is-me.is-active) {
  background: var(--color-header-me-active-bg);
}

:host-context(.theme-dark) :host-context(.player-board.is-me) {
  background: var(--color-header-me-bg);
  color: var(--color-player-me-text);
}