<player-board-name [name]="player().player.name"></player-board-name>

@if (player().hasTrickOrTreat) {
<player-board-trick-or-treat></player-board-trick-or-treat>
}

@if (isActive() && turnDurationSeconds() > 0) {
<player-board-turn-progress [remainingSeconds]="remainingSeconds()" [turnDurationSeconds]="turnDurationSeconds()"
  [timerState]="turnTimerState()">
</player-board-turn-progress>
}

@if (isActive()) {
<player-board-turn-timer [remainingSeconds]="remainingSeconds()" [timerState]="turnTimerState()">
</player-board-turn-timer>
}