@import "../../target-select.common.css";
@import "../../target-select.theme.css";


.target-select__field label span:not(.target-select__label-main) {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}