@if (hand().length) {
@if (handAction.selectedCard(); as card) {
<game-target-select [selectedCard]="card" [targetOptions]="handAction.targetOptions()"
  [contagionAssignments]="handAction.contagionAssignments()" [publicState]="publicState()"
  [selectedTarget]="handAction.selectedTarget()" [selectedTargetA]="handAction.selectedTargetA()"
  [selectedTargetB]="handAction.selectedTargetB()" [confirmDisabled]="!handAction.canConfirmSelection()"
  [selectedAction]="handAction.selectedActionForFailedExperiment()" [isMyTurn]="isMyTurn()"
  [isDragDrop]="handAction.isDragDropSelection()" [selectedDirection]="handAction.selectedDirection()"
  (targetChange)="handUIHelper.setTargetFromIdString($event.value, $event.which)"
  (contagionTargetChange)="handUIHelper.setContagionFromIdString($event.value, $event.index)"
  (actionChange)="handUIHelper.setActionForFailedExperiment($event)"
  (directionChange)="handUIHelper.setDirection($event)" (confirm)="handAction.confirmPlay(roomId()!)"
  (cancel)="handAction.clearSelection()" />
}

@if (mustPlayCardId()) {
<game-apparition-banner (keep)="keepApparitionCard()"></game-apparition-banner>
}

<game-hand-list [hand]="hand()" [isMyTurn]="isMyTurn()" [playerId]="apiPlayer.player()?.id" [connectedTo]="boardIds()"
  [selectedIndices]="handDiscard.selectedIndices()" [selectedPlayingCardId]="handAction.selectedCard()?.id"
  [mustPlayCardId]="mustPlayCardId()" (toggleSelect)="handDiscard.toggleSelection($event, isMyTurn())"
  (play)="handAction.selectCard($event, publicState())">
</game-hand-list>

@if (handDiscard.selectedDiscardCount()) {
<game-discard-action-button [selectedCount]="handDiscard.selectedDiscardCount()" [isMyTurn]="isMyTurn()"
  [gameEnded]="gameEnded()" (discard)="handDiscard.discard(roomId(), hand())">
</game-discard-action-button>
}
} @else {
<div class="hand-empty">
  <p>Sin cartas</p>
</div>
}