<div
  class="hand-card"
  [ngClass]="[
    'hand-card--' + card.color,
    'hand-card--' + card.kind,
    isSelected ? 'is-selected' : '',
    isMyTurn ? 'is-my-turn' : ''
  ]"
  (click)="onToggleSelect()"
  cdkDrag
  [cdkDragData]="card"
  [cdkDragDisabled]="!isMyTurn"
>
  <div class="card-content">
    @if (hasSubtype && subtypeImagePath) {
    <img
      class="card-subtype-image"
      [src]="subtypeImagePath"
      [alt]="formattedSubtype ?? 'Tratamiento'"
    />
    } @else {
    <span class="card-icon">{{ icon }}</span>
    }
  </div>

  <button class="play-btn" (click)="onPlay($event)">
    {{ actionLabel }}
  </button>
</div>
