<div class="room-list-screen">
  <div class="room-cards">
    <app-room-player></app-room-player>

    <app-room-creation (create)="handleCreateRoom($event)"></app-room-creation>

    <app-room-join (join)="handleJoinRoom($event)">
      @if (roomList().length > 0) {
      <ul class="room-list">
        @for (room of roomList(); track room.id) {
        <app-room-item [room]="room" (join)="handleJoinRoom($event)"></app-room-item>
        }
      </ul>
      } @else {
      <div class="empty-copy">
        <p>No hay salas disponibles.</p>
        <p>¡Crea la primera!</p>
      </div>
      }
    </app-room-join>
  </div>
</div>