<h2>Prueba de Socket.IO</h2>
<h3>Estado de conexión: {{ isConnected() ? "Conectado" : "Desconectado" }}</h3>

<input
  type="text"
  placeholder="Escribe un mensaje..."
  [value]="newMessage()"
  (input)="updateNewMessage($event)"
  (keyup.enter)="send()"
  [disabled]="!isConnected()"
/>
<button (click)="send()" [disabled]="!isConnected()">Enviar</button>

<hr />
<button (click)="connect()" [disabled]="isConnected()">Conectar</button>
<button (click)="disconnect()" [disabled]="!isConnected()">Desconectar</button>

<h3>Mensajes recibidos:</h3>
<ul>
  @for (msg of socketService.messages(); track $index) {
  <li>{{ msg }}</li>
  }
</ul>
