@if (action(); as action) {
<div
  class="action-feed"
  [class.is-visible]="isVisible()"
  [class.is-leaving]="isLeaving()"
  (transitionend)="handleTransitionEnd($event)"
>
  <div [class]="iconClass()">
    <span class="action-feed__icon-inner">{{ icon() }}</span>
  </div>
  <div class="action-feed__content">
    @if (action.actor) {
    <div class="action-feed__actor">{{ action.actor }}</div>
    }

    <div class="action-feed__message">
      @switch (action.type) {
        @case ('play-card') {
        <span class="action-feed__verb">{{ action.verb ?? 'jugó' }}</span>
        <span class="action-feed__card">{{ action.cardLabel }}</span>
        @if (action.detail) {
        <span class="action-feed__detail">{{ action.detail }}</span>
        }
        }
        @case ('discard') {
        <span class="action-feed__verb">descartó</span>
        <span class="action-feed__card">{{ cardsLabel(action.quantity) }}</span>
        }
        @case ('draw') {
        <span class="action-feed__verb">robó</span>
        <span class="action-feed__card">una carta</span>
        }
        @default {
        <span class="action-feed__detail">{{ action.message }}</span>
        }
      }
    </div>
  </div>
</div>
}
