:host {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-content {
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-icon {
  font-size: 2.4rem;
}

.card-image {
  width: 3.5em;
  height: 3.5em;
  pointer-events: none;
}

/* Specific styling for icon sizes inside the content */
:host-context(.hand-card--treatment) .card-icon {
  font-size: 2rem;
}

:host-context(.hand-card--virus) .card-icon {
  font-size: 2.8rem;
}

:host-context(.hand-card--medicine) .card-icon {
  font-size: 2.3rem;
}

:host-context(.hand-card--organ) .card-icon {
  font-size: 2.6rem;
}