@for (organ of player().board; track organ.id) {
<player-card class="board-slot" [class.transplant-mode]="transplantState()"
  [dropListId]="'slot-' + player().player.id + '-' + organ.color" [dropListData]="[organ]"
  [dropListConnectedTo]="getConnectedIdsForSlot(organ.color)" [dropListEnterPredicate]="slotEnterPredicate"
  (dropListDropped)="onDrop($event, organ.color, organ)" (click)="onSlotClick(organ, player().player.id)"
  [organ]="organ" [isMe]="isMe()" [contagionMode]="contagionState()! && isMe()" [temporaryViruses]="
    getTemporaryVirusesForOrgan()(organ.id, player().player.id)
  "></player-card>
}