<li>
  <div class="room-info">
    <strong>{{ room().name }}</strong>
    <span>
      {{ room().players.length }}
      jugador{{ room().players.length === 1 ? '' : 'es' }}
    </span>
    @if (room().visibility === 'private') {
    <span class="room-info__visibility">Privada</span>
    }
  </div>
  <button class="secondary-button" [disabled]="room().inProgress || isRoomFull" (click)="onJoin()">
    @if (room().inProgress) {
    En partida
    } @else if (isRoomFull) {
    Sala llena
    } @else {
    Unirse
    }
  </button>
</li>