<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
   <defs>
      <symbol id="icon-copy" viewBox="0 0 24 24">
         <path
            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z" />
      </symbol>

      <symbol id="icon-share" viewBox="0 0 24 24">
         <path
            d="M18 16.08c-0.76 0-1.44 0.3-1.96 0.77l-7.05-4.11c0.03-0.24 0.06-0.48 0.06-0.74s-0.03-0.5-0.08-0.74l7.02-4.09c0.53 0.49 1.24 0.79 2.01 0.79 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 0.24 0.03 0.48 0.08 0.7l-7.02 4.09c-0.53-0.49-1.24-0.79-2.01-0.79-1.66 0-3 1.34-3 3s1.34 3 3 3c0.77 0 1.48-0.3 2.01-0.79l7.05 4.11c-0.05 0.21-0.08 0.43-0.08 0.66 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92S19.61 16.08 18 16.08z" />
      </symbol>

      <symbol id="icon-leave" viewBox="0 0 24 24">
         <path d="M17 6l-1.41 1.41L17.17 9H9v2h8.17l-1.58 1.59L17 14l4-4-4-4z" />
         <path d="M5 5h7V3H5c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h7v-2H5V5z" />
      </symbol>

      <symbol id="icon-sun" viewBox="0 0 61.999741 61.999741">
         <g id="line" transform="translate(-5.000129,-5.000129)">
            <circle cx="36" cy="35.950001" r="19.8276" fill="none" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" id="circle1" />
            <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2"
               points="61.9819,51.0063 50.1418,50.1424 51.0056,61.9823 41.1813,55.3236 36,66 30.8184,55.3235 20.9937,61.9819 21.8576,50.1418 10.0177,51.0056 16.6764,41.1813 6,36 16.6765,30.8184 10.0181,20.9937 21.8582,21.8576 20.9944,10.0177 30.8187,16.6764 36,6 41.1816,16.6765 51.0063,10.0181 50.1424,21.8582 61.9823,20.9944 55.3236,30.8187 66,36 55.3235,41.1816 "
               id="polygon1" />
         </g>
      </symbol>

      <symbol id="icon-moon" viewBox="0 0 59.135082 59.331596">
         <g id="line" transform="translate(-6.3635189,-6.0201047)">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2"
               d="m 7.3634,42.4095 c 4.5525,6.1703 11.874,10.1726 20.1303,10.1726 13.8071,0 25,-11.1929 25,-25 0,-8.5226 -4.2646,-16.0492 -10.7763,-20.5621 13.0383,2.8385 22.7812,14.4426 22.7812,28.3317 0,16.0163 -12.9837,29 -29,29 -13.5877,0 -24.9889,-9.3288 -28.1352,-21.9422 z"
               id="path1" />
         </g>
      </symbol>

      <symbol id="icon-phone" viewBox="0 0 37 60">
         <g id="line" transform="translate(-17.5,-5.7644)">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2"
               d="m 52.5,64.7644 h -33 c -0.5523,0 -1,-0.4477 -1,-1 v -56 c 0,-0.5523 0.4477,-1 1,-1 h 33 c 0.5523,0 1,0.4477 1,1 v 56 c 0,0.5523 -0.4477,1 -1,1 z"
               id="path1" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2"
               d="M 48.0339,55 H 23.9661 C 23.4325,55 23,54.5675 23,54.0339 V 13.9661 C 23,13.4325 23.4325,13 23.9661,13 H 48.0339 C 48.5675,13 49,13.4325 49,13.9661 V 54.0339 C 49,54.5675 48.5675,55 48.0339,55 Z"
               id="path2" />
            <circle cx="36" cy="60" r="2" fill="currentColor" stroke="currentColor" stroke-miterlimit="10"
               id="circle2" />
            <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2" points="41,10 31,10 41,10 " id="polygon2" />
         </g>
      </symbol>

      <symbol id="icon-screen" viewBox="0 0 64 52.851997">
         <g id="line" transform="translate(-4,-15)">
            <rect x="5" y="16" width="62" height="40" fill="none" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" id="rect1" />
            <line x1="50.922901" x2="22.077101" y1="66.851997" y2="66.851997" fill="currentColor" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" id="line1" />
            <circle cx="36.5" cy="51" r="2" fill="currentColor" stroke="none" id="circle1" />
            <rect x="9" y="20" width="54" height="26" fill="none" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" id="rect2" />
            <line x1="38.5" x2="38.5" y1="59.9683" y2="66.353798" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" id="line2" />
            <line x1="34.5" x2="34.5" y1="59.9683" y2="66.353798" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" id="line3" />
         </g>
      </symbol>

      <symbol id="icon-speaker-volume" viewBox="0 0 55.187 51.165783">
         <g id="line" transform="translate(-10.0718,-10.37531)">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m 43.2188,11.3752 -16.435,13.346 h -12.712 c -1.6548,0.005 -2.995,1.3452 -3,3 v 16.692 c 0.005,1.6548 1.3452,2.995 3,3 h 12.712 l 16.436,13.128 z"
               id="path1" />
            <line x1="26.7838" x2="26.7838" y1="25.3332" y2="46.583199" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-width="2" id="line1" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
               d="m 54.6738,24.6122 c 5.0427,6.7235 5.0427,15.9684 0,22.692" id="path2" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
               d="m 50.3689,28.7825 c 3.1892,4.2523 3.1892,10.0991 0,14.3514" id="path3" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
               d="m 58.8689,19.7825 c 7.1892,9.5856 7.1892,22.7658 0,32.3514" id="path4" />
         </g>
      </symbol>

      <symbol id="icon-speaker-muted" viewBox="0 0 50.5 51.165783">
         <g id="line" transform="translate(-10.6048,-10.37531)">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m 50.2195,45.4881 -7e-4,-34.1129 -16.435,13.346 h -4.1277" id="path1" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m 20.2294,24.8434 c -1.2445,0.3664 -2.1535,1.5155 -2.1576,2.8778 v 16.692 c 0.005,1.6548 1.3452,2.995 3,3 h 12.712 l 16.436,13.128 -10e-5,-5.659"
               id="path2" />
            <line x1="33.783798" x2="33.783798" y1="25.3332" y2="29" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-width="2" id="line2" />
            <line x1="33.783798" x2="33.783798" y1="39" y2="47.050999" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-width="2" id="line3" />
            <line x1="11.6048" x2="60.104801" y1="11.7825" y2="60.282501" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-linejoin="round" stroke-width="2" id="line4" />
         </g>
      </symbol>

      <symbol id="icon-page-facing-up" viewBox="0 0 41.915401 52">
         <g id="line" transform="translate(-15.0423,-9.9583)">
            <polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2"
               points="36,10.9583 55.9577,31.0626 55.9577,60.9583 16.0423,60.9583 16.0423,10.9583 36,10.9583"
               id="polyline1" />
            <polyline fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
               stroke-miterlimit="10" stroke-width="2" points="36,10.9583 35.9577,31.0626 49.1463,31.0626"
               id="polyline2" />
         </g>
      </symbol>

   </defs>
</svg>
