<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
   <defs>
      <symbol id="icon-modifier-medicine" viewBox="0 0 51.79475 51.778599">
         <defs id="defs1" />

         <g id="line" transform="translate(-9.880525,-10.2742)">
            <path fill="currentColor" stroke="none"
               d="m 47.5877,12.2742 c 3.1001,0 6.2001,1.1759 8.5519,3.5276 v 0 c 4.7035,4.7035 4.7035,12.4002 0,17.1038 L 32.52,56.5251 c -2.3518,2.3518 -5.4518,3.5277 -8.5519,3.5277 -3.1001,0 -6.2001,-1.1759 -8.5519,-3.5277 v 0 c -4.7035,-4.7035 -4.7035,-12.4002 0,-17.1038 L 39.0357,15.8018 c 2.3518,-2.3518 5.4519,-3.5276 8.552,-3.5276 m 0,-2 c -3.7741,0 -7.3135,1.4608 -9.9661,4.1134 L 14.002,38.0071 c -5.4953,5.4953 -5.4953,14.4369 0,19.9322 2.6526,2.6526 6.192,4.1135 9.9661,4.1135 3.7741,0 7.3135,-1.4608 9.9661,-4.1134 L 57.5538,34.3199 c 5.4953,-5.4953 5.4953,-14.4369 0,-19.9322 -2.6526,-2.6527 -6.192,-4.1135 -9.9661,-4.1135 z"
               id="path1" />
            <line x1="28.5625" x2="41.421902" y1="30.4062" y2="43.265598" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line1" />
         </g>
      </symbol>

      <symbol id="icon-modifier-virus" viewBox="0 0 45.608997 44.243736">
         <defs id="defs25" />

         <g id="line-supplement" transform="translate(-13.183002,-13.878095)">
            <line x1="41.839901" x2="39.428398" y1="16.691601" y2="24.209101" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line1" />
            <line x1="28.6898" x2="31.157499" y1="15.8364" y2="23.8356" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line2" />
            <line x1="17.1486" x2="24.540501" y1="23.052299" y2="28.2994" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line3" />
            <line x1="14.7102" x2="22.605" y1="36.2342" y2="36.204601" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line4" />
            <line x1="18.411501" x2="24.781099" y1="48.695999" y2="44.0317" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line5" />
            <line x1="29.1353" x2="32.046799" y1="55.308399" y2="47.290901" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line6" />
            <line x1="42.2854" x2="40.317699" y1="56.163601" y2="49.164398" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line7" />
            <line x1="52.839001" x2="46.9347" y1="48.317101" y2="43.7006" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line8" />
            <line x1="57.764999" x2="48.870201" y1="35.7658" y2="35.795399" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line9" />
            <line x1="53.563702" x2="46.194099" y1="23.304001" y2="28.4683" fill="none" stroke="currentColor"
               stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" id="line10" />
         </g>
         <g id="line" transform="translate(-13.183002,-13.878095)">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
               d="m 50.4876,36 a 15,15 0 1 1 -15,-15 15,15 0 0 1 15,15 z" id="path10" />
            <g id="g19">
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="41.606,17.42 38.983,15.497 44.898,17.42 " id="polygon10" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="28.804,16.115 30.592,14.628 25.97,15.954 " id="polygon11" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="17.925,23.596 15.303,25.328 18.484,20.142 " id="polygon12" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="15.149,36.134 13.933,38.166 13.958,34.101 " id="polygon13" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="18.929,48.317 19.549,51.064 16.365,47.31 " id="polygon14" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="29.153,55.319 31.612,57.008 25.697,55.086 " id="polygon15" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="42.142,55.729 45.005,55.546 39.884,57.372 " id="polygon16" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="52.529,48.075 54.382,46.814 51.702,50.5 " id="polygon17" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="57.187,35.766 58.018,38.899 58.042,32.834 " id="polygon18" />
               <polygon fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5" points="53.163,23.582 52.016,20.787 55.465,25.415 " id="polygon19" />
            </g>
            <g id="g25">
               <circle fill="currentColor" cx="42.654499" cy="32.490299" r="1.25" id="circle19" />
               <circle fill="currentColor" cx="28.654499" cy="29.490299" r="1.25" id="circle20" />
               <circle fill="currentColor" cx="35.654499" cy="28.490299" r="1.25" id="circle21" />
               <circle fill="currentColor" cx="37.654499" cy="44.490299" r="1.25" id="circle22" />
               <circle fill="currentColor" cx="31.654499" cy="34.740299" r="2" id="circle23" />
               <circle fill="currentColor" cx="31.154499" cy="41.740299" r="2" id="circle24" />
               <circle fill="currentColor" cx="39.654499" cy="37.740299" r="3" id="circle25" />
            </g>
         </g>
      </symbol>

   </defs>
</svg>