/* Colores por tipo de carta */
.hand-card--red {
  background: var(--card-red);
}

.hand-card--green {
  background: var(--card-green);
}

.hand-card--blue {
  background: var(--card-blue);
}

.hand-card--yellow {
  background: var(--card-yellow);
}

.hand-card--multi {
  background: var(--card-multi);
}

.hand-card--treatment {
  background: var(--card-treatment);
}

.hand-card--treatment-halloween {
  background: var(--card-treatment-halloween);
}

.hand-card--orange {
  background: var(--card-orange);
}