<div class="game-layout" [class.game-layout--empty]="!publicState()">
  <!-- Winner -->
  @if (winner(); as w) {
  <game-winner [winner]="w" [playerCount]="currentRoom()?.players?.length ?? publicState()?.players?.length ?? 0"
    (reset)="resetGame()" (leave)="leaveAfterWin()"></game-winner>
  }

  <!-- Información de la partida -->
  @if (publicState(); as st) {

  <!-- Tablero de la partida (incluye Info) -->
  <game-board [state]="st" [historyCount]="history().length" (startFailedExperiment)="handleFailedExperiment($event)"
    (startBodySwap)="handleBodySwap($event)" (startApparition)="handleApparition($event)"></game-board>

  <!-- Mano del jugador -->
  <game-hand [hand]="hand()" [isMyTurn]="isMyTurn()" [roomId]="roomId" [publicState]="st"
    [gameEnded]="isGameEnded()"></game-hand>
  }
  <!-- Home -->
  @else {
  <game-empty></game-empty>
  }

  @if (showHistory()) {
  <game-history [history]="history()" (closed)="gameStore.closeHistoryModal()"></game-history>
  }

  <!-- Errores -->
  <game-error [error]="lastError()" (closed)="dismissError()"></game-error>

  @if (showLeave()) {
  <game-leave (confirm)="gameStore.leaveGame(roomId)" (cancel)="gameStore.closeLeaveModal()"></game-leave>
  }
</div>