:host {
  --game-padding-block: 0.25rem;
  display: block;
  min-height: 100vh;
  min-height: 100dvh;
  padding: var(--game-padding-block) 0.5rem;

  background-image: url('/assets/images/background.svg');
  background-size: 200px;
  background-repeat: repeat;
}

.game-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

.game-layout>* {
  width: 100%;
}

.game-layout--empty {
  min-height: calc(100vh - (var(--game-padding-block) * 2));
  min-height: calc(100dvh - (var(--game-padding-block) * 2));
  justify-content: center;
}

.game-layout--empty game-empty {
  flex: 1 1 auto;
  min-height: 100%;
}

@media (min-width: 768px) {
  :host {
    --game-padding-block: 2rem;
    padding: var(--game-padding-block) 2.5rem;
  }

  .game-layout {
    gap: 2rem;
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  :host {
    --game-padding-block: 2.5rem;
    padding: var(--game-padding-block) 3rem;
  }

  .game-layout {
    max-width: 1280px;
  }
}