<div>
  <input
    type="text"
    placeholder="Tu nombre"
    [value]="playerName()"
    (input)="updatePlayerName($event)"
  />
  <button (click)="create()">Crear Sala</button>
</div>

<div>
  <input
    type="text"
    placeholder="ID de la sala"
    [value]="roomId()"
    (input)="updateRoomId($event)"
  />
  <button (click)="join()">Unirse</button>
</div>

<h3>Jugadores en la sala:</h3>
<ul>
  @for (player of roomService.roomData().players; track player.name) {
  <li>{{ player.name }}</li>
  }
</ul>
