<game-info [state]="state()" [historyCount]="historyCount()" (historyRequested)="gameStore.openHistoryModal()"
  (leaveRequested)="gameStore.openLeaveModal()"></game-info>

<div class="players">
  @for (p of state().players; let i = $index; track p.player.id) {
  <player-board [player]="p" [isMe]="p.player.id === meId" [isActive]="i === state().turnIndex"
    [roomId]="state().roomId" [allSlotIds]="allSlotIds()" [gameState]="state()"
    [remainingSeconds]="gameStore.remainingSeconds()"
    [getTemporaryVirusesForOrgan]="contagion.getTemporaryVirusesForOrgan.bind(contagion)"
    [hasTemporaryVirus]="contagion.hasTemporaryVirus.bind(contagion)" [transplantState]="transplant.state"
    (startTransplant)="transplant.startTransplant($event.card, $event.firstOrgan)"
    (finishTransplant)="transplant.finishTransplant($event)" [contagionState]="contagion.state"
    (virusMoved)="contagion.addAssignment($event)" (startContagion)="contagion.startContagion($event.card)"
    (startFailedExperiment)="startFailedExperiment.emit($event)" (startBodySwap)="startBodySwap.emit($event)"
    (startApparition)="startApparition.emit($event)"></player-board>
  }
</div>

<game-board-transplant #transplant [gameState]="state()"></game-board-transplant>

<game-board-contagion #contagion [gameState]="state()"></game-board-contagion>