:host {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  color: var(--color-text-secondary);
  background-image: repeating-linear-gradient(-45deg,
      var(--color-slot-stripe),
      var(--color-slot-stripe) 10px,
      transparent 10px,
      transparent 16px);
  text-align: center;
  font-weight: 500;
}