.room-timer {
  /* background: var(--color-surface); */
  color: var(--color-text-secondary);
  border-radius: 12px;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--color-border);
}

.room-timer.danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}