<div class="room-top">
  <app-room-label [roomName]="room()!.name" />

  <app-room-actions>
    <app-room-action-btn customClass="room-copy-icon" ariaLabel="Copiar ID" (onClick)="copyRoomCode()">
      <card-icon name="copy" class="room-action__icon" color="currentColor"></card-icon>
    </app-room-action-btn>

    <app-room-action-btn customClass="room-share-icon" ariaLabel="Copiar enlace" (onClick)="copyRoomLink()">
      <card-icon name="share" class="room-action__icon" color="currentColor"></card-icon>
    </app-room-action-btn>

    <app-room-action-btn customClass="room-leave" ariaLabel="Salir de la sala" (onClick)="leaveRoom.emit()">
      <card-icon name="leave" class="room-action__icon" color="currentColor"></card-icon>
    </app-room-action-btn>
  </app-room-actions>
</div>

@if (shareMessage()) {
<p class="room-share-feedback">{{ shareMessage() }}</p>
}