:host {
  border-radius: 8px;
  padding: 1.5rem 0.5rem 0.5rem;
  transition: background 0.3s ease,
    transform 0.3s ease;
  background: var(--color-bg-secondary);
  color: var(--color-text-on-secondary);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  --board-slot-gap: 0.35rem;
  --board-slot-height: 50px;
  user-select: none;
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%) skewX(-15deg);
  }

  100% {
    transform: translateX(150%) skewX(-15deg);
  }
}

.board-drop-wrapper {
  flex: 1;
  display: flex;
  background: var(--color-board-wrapper-bg);
  border-radius: 8px;
  transition: background 0.2s ease, border-color 0.2s ease;
  border: 2px solid transparent;
  position: relative;
}

.board-drop-wrapper:not(.is-active) {
  color: var(--color-text-primary);
}

:host-context(.theme-dark) .board-drop-wrapper {
  background: var(--color-board-wrapper-bg);
}

:host.is-me {
  background: var(--color-player-me-background);
}

:host-context(.theme-dark).is-me {
  background: var(--gradient-board-me-dark);
}



:host.is-active {
  background: var(--color-player-active-background);
  position: relative;
  overflow: hidden;
}

:host.is-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      var(--color-shimmer-light),
      transparent);
  transform: translateX(-150%) skewX(-15deg);
  pointer-events: none;
  animation: shimmer 2s infinite;
}

:host.is-me.is-active {
  background: var(--gradient-board-me-active-light);
}

:host-context(.theme-dark).is-me.is-active {
  background: var(--gradient-board-me-active-dark);
}

.board-drop-wrapper.cdk-drop-list-dragging {
  background: var(--color-field-player-bg);
}

.board-drop-wrapper.valid-board-target {
  background: var(--color-valid-target-bg);
  border-color: var(--border-valid-target);
}

.board-drop-wrapper.valid-board-target.drag-over {
  background: var(--color-overlay-white-weak) !important;
  border-color: var(--border-drag-over) !important;
}

:host ::ng-deep .board-drop-wrapper>.cdk-drag-placeholder {
  display: none;
}

player-board-slots {
  width: 100%;
  margin-top: 0.2rem;
}