/* Global style tokens and theme handling */
@import 'styles/theme/core-light.css';
@import 'styles/theme/core-dark.css';
@import 'styles/theme/cards.css';

/* Base and Elements */
@import 'styles/base.css';
@import 'styles/elements.css';
@import 'styles/animations.css';

/* Feature Styles */
@import 'app/features/game/components/game-hand/target-select/target-select.common.css';