:root {
  --card-red-end: #ef4444;
  --card-green-end: #22c55e;
  --card-blue-end: #3b82f6;
  --card-yellow-end: #eab308;
  --card-multi-middle: #9333ea;
  --card-halloween-end: #f97316;
  --card-orange-end: #fb923c;
  --organ-red: rgba(239, 68, 68, 0.7);
  --organ-green: rgba(34, 197, 94, 0.7);
  --organ-blue: rgba(59, 130, 246, 0.7);
  --organ-yellow: rgba(234, 179, 8, 0.7);
  --organ-orange: rgba(251, 146, 60, 0.8);
}