@if (player().board.length === 0) {
<player-board-empty [player]="player()"></player-board-empty>
} @else {
<player-board-grid [player]="player()" [isMe]="isMe()" [roomId]="roomId()" [gameState]="gameState()"
  [allSlotIds]="allSlotIds()" [contagionState]="contagionState()" [transplantState]="transplantState()"
  [getTemporaryVirusesForOrgan]="getTemporaryVirusesForOrgan()" [hasTemporaryVirus]="hasTemporaryVirus()"
  (virusMoved)="virusMoved.emit($event)" (startContagion)="startContagion.emit($event)"
  (startFailedExperiment)="startFailedExperiment.emit($event)" (startTransplant)="startTransplant.emit($event)"
  (finishTransplant)="finishTransplant.emit($event)">
</player-board-grid>
}